.adv {
  &__vertical {
    width: 100%;
    margin-bottom: 24px;
    overflow: hidden;
  }

  &__horizontal {
    width: 728px;
    height: 90px;
    margin: 42px auto 0;
    overflow: hidden;

    @media (max-width: 1199px) {
      width: 100%;
    }
  }
}