@import "../base/var";

.plan-big {
  padding-bottom: 60px;

  @media (max-width: $xs) {
    padding-bottom: 30px;
  }

  &__back {
    font-family: $fontSemiBold;
    font-size: 24px;
    line-height: 24px;
    color: black;
    cursor: pointer;
    padding-left: 69px;
    display: block;
    position: relative;
    transition: 0.3s;

    @media (max-width: $xs) {
      font-size: 14px;
      padding-left: 25px;
    }

    &:hover {
      color: $bronze;
    }

    &:before {
      content: '';
      display: block;
      width: 27px;
      height: 8px;
      background: url('../img/plan-back.svg') no-repeat center;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: $xs) {
        width: 15px;
        height: 5px;
      }
    }
  }

  &__slider {
    margin: 50px 58px 0;

    @media (max-width: $sm) {
      margin: 40px 30px 0;
    }

    @media (max-width: $xs) {
      margin-top: 15px
    }

    .slick-arrow {
      position: absolute;
      background-image: url('../img/arrow-black.svg');
      top: 50%;
      margin-top: -16px;
    }

    .slick-prev {
      left: -58px;

      @media (max-width: $sm) {
        left: -30px;
      }
    }

    .slick-next {
      right: -58px;

      @media (max-width: $sm) {
        right: -30px;
      }
    }
  }

  &__slide {

  }

  &__slide-content {
    display: flex;

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  &__photo {
    width: 438px;
    height: 545px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;

    @media (max-width: $lg) {
      width: 350px;
      height: 435px;
    }

    @media (max-width: $md) {
      width: 250px;
      height: 311px;
    }

    @media (max-width: $xs) {
      width: 230px;
      height: 286px;
    }
  }

  &__right {
    width: 100%;
    padding-left: 32px;

    @media (max-width: $md) {
      padding-left: 15px;
      width: calc(100% - 250px);
    }

    @media (max-width: $xs) {
      padding-left: 0;
      width: 100%;
      margin-top: 15px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }

  &__column {
    width: 29%;

    @media (max-width: $sm) {
      width: 46%;
    }

    @media (max-width: $xs) {
      width: 100%;
    }

    &:last-child {
      margin-right: 54px;

      @media (max-width: $sm) {
        margin-right: 0;
      }
    }
  }

  &__rooms {
    @media (max-width: $xs) {
      margin: 15px 0 0;
    }
  }

  &__room {
    color: #9F9F9F;
    font-family: $fontRegular;
    font-size: 24px;
    margin-bottom: 16px;

    @media (max-width: $lg) {
      font-size: 18px;
    }

    span {
      display: inline-block;
      width: 35px;
      color: #585858;
    }
  }

  &__square {
    margin-top: 0;

    sup {
      font-size: 14px;
    }
  }

  &__squares {
    margin-top: 47px;

    @media (max-width: $lg) {
      margin-top: 30px;
    }

    @media (max-width: $md) {
      margin-top: 0;
    }

    @media (max-width: $sm) {
      margin-top: 15px;
    }

    .plan-big__column:last-child {
      @media (max-width: $sm) {
        width: 100%;
      }
    }
  }

  &__square-list {
    color: #9F9F9F;
    font-family: $fontSemiBold;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-end;

    @media (max-width: $lg) {
      font-size: 14px;
    }

    @media (max-width: $md) {
      font-size: 12px;
    }

    @media (max-width: $xs) {
      font-size: 14px;
    }

    span {
      &:nth-child(1) {
        width: 28px;
        flex-shrink: 0;

        @media (max-width: $md) {
          width: 20px;
        }

        @media (max-width: $xs) {
          width: 25px;
        }
      }
      &:nth-child(2) {
        white-space: nowrap;

        @media (max-width: $md) {
          white-space: normal;
        }

        @media (max-width: $xs) {
          white-space: nowrap;
        }
      }
      &:nth-child(3) {
        width: 100%;
        border-bottom: 2px dotted #9F9F9F;
        margin: 0 4px 4px;
      }
      &:nth-child(4) {

      }

      sup {
        font-size: 12px;
      }
    }
  }

  &__buttons {
    margin-top: 17px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: $xs) {
      margin-top: 10px;
      flex-direction: column-reverse;
    }
  }
}