// fonts

$fontRegular: 'Orchidea Pro Regular', sans-serif;
$fontMedium: 'Orchidea Pro Medium', sans-serif;
$fontSemiBold: 'Orchidea Pro SemiBold', sans-serif;

// colors

$bronze: #C0845E;

// mixins

@mixin placeholderColor($color) {
  &::-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}

// media

$lg: 1500px;
$md: 1199px;
$sm: 991px;
$xs: 767px;

// numbers

$containerWidth: 1420px;
$containerWidthLG: 1140px;
$containerWidthMD: 932px;
$containerWidthSM: 738px;


$buttonWidth: 250px;